language: r
cache: packages
latex: false
fortran: false
env: _R_CHECK_FORCE_SUGGESTS_=FALSE

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      env: R_CODECOV=true
      r_check_args: '--use-valgrind'
    - os: osx
      osx_image: xcode9.3
      brew_packages: protobuf
    - os: osx
      osx_image: xcode9.3
      disable_homebrew: true
    - os: osx
      osx_image: xcode7.3
      brew_packages: protobuf
    - os: osx
      osx_image: xcode7.3
      disable_homebrew: true

addons:
  apt:
    packages:
      - libprotobuf-dev
      - libprotoc-dev
      - protobuf-compiler
      - valgrind

r_github_packages:
  - jimhester/covr

warnings_are_errors: true
#r_check_revdep: true

notifications:
  email:
    on_success: change
    on_failure: change

after_success:
  - if [[ "${R_CODECOV}" ]]; then R -e 'covr::codecov()'; fi
